<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>欢迎进入xx论坛</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="row">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper wrapper-content animated fadeInRight">

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-globe text-navy mid-icon"></i>
                            </div>
                            <h2>欢迎来到xx论坛</h2>
                            <span>这是一个只有登录后才可以访问的页面</span>
                        </div>
                    </div>

                    <div class="ibox-content forum-container">

                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <samll>总帖子数： 320,800</samll>
                            </div>
                            <h3>主版</h3>
                        </div>

                        <div class="forum-item active">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-shield"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">课程问答</a>
                                    <div class="forum-sub-title">【官方活动】内容内容内容内容内容内容内容内容？</div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            1216
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            368
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            140
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bolt"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">课程问答</a>
                                    <div class="forum-sub-title">内容内容内容内容内容内容？</div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            890
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            120
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            154
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item active">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">技术分享</a>
                                    <div class="forum-sub-title">内容内容内容内容内容内容内容内容内容内容</div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            680
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            124
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            61
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">活动建议</a>
                                    <div class="forum-sub-title">内容内容内容内容内容内容内容内容内容内容内容内容</div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            1450
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            652
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            572
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <samll>总贴子数：17,800,600</samll>
                            </div>
                            <h3>副版</h3>
                        </div>

                        <div class="forum-item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">
                                        内容内容内容内容内容内容内容内容内容内容 </a>
                                    <div class="forum-sub-title">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            1516
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            238
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            180
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bomb"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">内容内容内容内容内容内容内容内容内容内容内容内容内容内容</a>
                                    <div class="forum-sub-title">内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            1766
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            321
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            42
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">内容内容内容内容内容内容内容内容内容内容？</a>
                                    <div class="forum-sub-title">
                                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            765
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            90
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            11
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-ambulance"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">内容内容内容内容内容内容内容内容内容内容</a>
                                    <div class="forum-sub-title">
                                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            2550
                                        </span>
                                    <div>
                                        <small>浏览</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            122
                                        </span>
                                    <div>
                                        <small>话题</small>
                                    </div>
                                </div>
                                <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            92
                                        </span>
                                    <div>
                                        <small>帖子</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="${ctxPath}/static/js/content.js?v=1.0.0"></script>


</body>

</html>
